<form action=" <%= users_url %>" method="post">

  <h2>LUNEY-TUNES SIGN UP</h2>

  <p>Email Address:</p>
  <p><input type="text" name="user[email_address]" value="<%= @user.email_address %>"/></p>

  <p>Password:</p>
  <p><input type="password" name="user[password]"/></p>

  <button type="submit">SIGN UP</button>

</form>
